extends ../../layout
block content
	.panel.panel-default
		table.datagrid.bordered.table.table-striped.table-bordered
			thead
				tr.search
					th
					th.disable
				tr
					th Group
					th Action
			tbody.users
block post-script
	script.
		$(function() {
			ajaxify.loadData(function (data){
				var items = [];
				$.each( data.groups, function( key, val ) {
					items.push("<tr><td>" + val + "</td><td>action</td></tr>");
				});
				pendingpopup.forceHide();
				alertify.success("groups retrieved");
				$('.users').html(items.join(""));
			}, "admin/groups");
			var pendingpopup = alertify.log("pending request...");
		});