extends ../../layout
block content
	.panel.panel-default
		form.form-horizontal(method="post", action="/admin/user/create")
			.col-sm-offset-2.col-sm-10
				h1(style="padding-bottom: 1em; margin-left: 30%;") Create a user

			.form-group
				label.col-sm-2.control-label(for="username") Username
				.col-sm-10
					input.form-control(placeholder="Username", name="username")
			.form-group
				label.col-sm-2.control-label(for="email") Email
				.col-sm-10
					input.form-control(placeholder="Email", name="email")
			.form-group
				label.col-sm-2.control-label Select groups
				.col-sm-10
					table.datagrid#groups.table.table-striped.table-bordered.form-control-table(name="groups")
						thead
							tr.search
								th
								th.disable
							tr
								th(name="group") Group
								th 
						tbody
						tfoot
							tr
								th(colspan="2")
									select.available-groups
										options
											option Loading ...
									button.btn.btn-info.btn-primary.add-group(type="button") add
			.form-group
				.col-sm-offset-2.col-sm-10
					button.btn.btn-success.btn-primary(type="submit") Create

block post-script
	script.
		$(function() {
			Datagrid.load();
			
			ajaxify.loadData(function (data){
				$(".available-groups").empty();

				$.each(data, function( key, val ) {
					var optionGroup = $('<option></option>').attr("value", val).text(val);
					$(".available-groups").append(optionGroup);
				});
				pendingpopup.forceHide();
				alertify.success("groups retrieved");

				$(".add-group").bind("click", function(){
					Datagrid.appendData("#groups", [$(".available-groups").val(), "Remove"]);
					$(".available-groups option[value='"+ $(".available-groups").val() +"']").remove();
				});
			}, "admin/groups");
			var pendingpopup = alertify.log("pending request...");
		});