extends layout
block content
	.panel.panel-default
		div.small-title 403 You nee more privileges
		.row.error(style="text-align:left;")
			.col-md-6.pull-left
				div You have not the grant level to access this page